
services:
  zeebe:
    image: camunda/camunda:8.8.2
    container_name: zeebe
    restart: always
    environment:
      - SPRING_PROFILES_ACTIVE=broker
      - ZEEBE_BROKER_GATEWAY_ENABLE=true
      - CAMUNDA_SECURITY_AUTHORIZATIONS_ENABLED=false
      - CAMUNDA_SECURITY_AUTHENTICATION_UNPROTECTEDAPI=true
      - CAMUNDA_DATA_SECONDARYSTORAGE_ELASTICSEARCH_URL=http://elasticsearch:9200
#      - ZEEBE_BROKER_EXPORTERS_CAMUNDAEXPORTER_ARGS_CREATESCHEMA=false
      - ZEEBE_BROKER_EXPORTERS_CAMUNDAEXPORTER_CLASSNAME=io.camunda.exporter.CamundaExporter
#      - ZEEBE_LOG_LEVEL=TRACE
#    ports:
#      - "26500:26500"
    healthcheck:
      test: [ "CMD-SHELL", "timeout 15s bash -c ':> /dev/tcp/127.0.0.1/9600' || exit 1" ]
      interval: 20s
      timeout: 20s
      retries: 10
      start_period: 30s
    networks:
      - camunda
    depends_on:
      elasticsearch:
        condition: service_healthy


  elasticsearch: # https://hub.docker.com/_/elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.10
    container_name: es
    environment:
      - ES_SETTING_DISCOVERY_TYPE=single-node
      - ES_SETTING_XPACK_SECURITY_ENABLED=false
      - ES_SETTING_CLUSTER_ROUTING_ALLOCATION_DISK_THRESHOLD__ENABLED=false
      - ES_SETTING_LOGGER_ORG_ELASTICSEARCH_DEPRECATION="OFF"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200/_cat/health | grep -q green" ]
      interval: 20s
      retries: 30
      start_period: 120s
      timeout: 10s
    networks:
      - camunda

  experiment:
    image: moritz148/measurementsgmt:c8.8-measuring
    container_name: experiment
    environment:
      - GRPC_ADDRESS=http://zeebe:26500
      - REST_ADDRESS=http://zeebe:8080
      - PROCESS_INSTANCES=250
      - PROCESS_ID=benchmark
    networks:
      - camunda
    depends_on:
      zeebe:
        condition: service_healthy
#      connectors:
#        condition: service_healthy

networks:
  camunda: